html {
    display: flex;
    justify-content: center;
}

:root {
    --default-transition:0.3s cubic-bezier(0.46, 0.03, 0.52, 0.96);
    --default-transition-2: 0.7s ease;
}

body, p, h1, h2, h3, h4, h5, h6 {
    margin:0;
}

body {
    width:100vw;
    font-family: 'Share Tech Mono', monospace;
    overflow-x: hidden;
    overflow-y: auto;
}

.main_header {
    height: 70px;
    min-width: 360px;
    width: 100%;
    background: linear-gradient(60deg, #F4E200, #EDBC00);
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    transition: var(--default-transition);
    z-index: 1;
}

.main_header_clicked {
    height: 500px !important;
}

.main_header > img {
    height: 60px;
    position: absolute;
    right: 95%;
    top: 5px;
    transform: translateX(100%);
    transition: 0.3s 0.2s cubic-bezier(0.46, 0.03, 0.52, 0.96);
}

.main_header_img_right {
    transform: translateX(50%) !important;
    right: 50% !important;
    top: 80px !important;
    height: 65px !important;
}

.hamburguer {
    width: 40px;
    height: 40px;
    position: absolute;
    cursor: pointer;
    right: calc(10px + 5%);
    top: 15px;
    transition:var(--default-transition);
}

.hamburguer:hover {
    transform: scale(0.9);
}

.hamburguer:active {
    transform: scale(0.8)
}

.hamburguer div {
    position: absolute;
    width: 40px;
    height: 7px;
    background: #111;
    border-radius: 2px;
    transition:var(--default-transition);
}

.hamburguer div:first-child {
    top: 0;
}

    .top_burger {
        opacity: 0 !important;
        transform:translateY(-100%) !important;
        filter: invert(1) !important;
    }

.hamburguer div:nth-child(2) {
    top: 50%;
    transform:translateY(-50%);
}

    .mid_burger {
        transform:rotate(225deg) !important;
        filter: invert(1) !important;
    }

.hamburguer div:last-child {
    top:100%;
    transform: rotate(0deg) translateY(-100%);
}

    .bot_burger {
        top:50% !important;
        transform:rotate(135deg) translateY(0) !important;
        filter: invert(1) !important;
    }

.main_container {
    background:linear-gradient(0deg,#9BD5DE, #00838F);
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

            .main_container_h2_hidden {
                transform:translateY(-50%);
                opacity:0;
                visibility: hidden;
            }

            .hidden_main_container_article {
                opacity: 0;
                visibility: hidden;
            }

.main_container > h2 {
    font-size: 34px;
    color: white;
    width: 300px;
    margin: 20px 0 10px 0;
    text-align: center;
    box-sizing: border-box;
    height: 100px;
    display: flex;
    align-items: center;
    font-weight: 100;
    transition: var(--default-transition);
}

.calc_options {
    width: 340px;
    height: 320px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    margin-bottom: 150px;
    position: relative;
}

.calc_option_ontop {
    top:-80px !important;
    background: rgba(255,255,255,0.4) !important;
}
.calc_options > article:nth-child(1) {
    top: 0;
}


.calc_options > article:nth-child(2) {
    top: 80px;
}
.calc_options > article:nth-child(3) {
    top: 160px;
}
.calc_options > article:nth-child(4) {
    top: 240px;
}

.calc_options > article {
    max-width: 340px;
    width: 80vw;
    height: 60px;
    background: rgba(255,255,255,0.2);
    box-shadow: 0 -4px white;
    position: absolute;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition:var(--default-transition-2);
}

.calc_options > article img {
    height: 50%;
    position: absolute;
    right: 0;
    bottom:0;
    cursor: pointer;
    transition:var(--default-transition-2);
}

.img_disappear {
    opacity: 0;
    visibility: hidden;
}

.calc_options > article p {
    color:white;
    position: absolute;
    left: 22px;
    font-size:22px;
}

.header_menu {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    height: 240px;
    position: absolute;
    top: 180px;
    transition: 0.15s cubic-bezier(0.46, 0.03, 0.52, 0.96);
    opacity: 0;
    visibility: hidden;
    transform: translateY(-15%);
}

.menu_show {
    opacity: 1;
    visibility: visible;
    transition:0.7s 0.4s ease;
    transform:translateY(0%);
}

.header_menu button {
    height: 45px;
    background: rgba(0,0,0,0.1);
    border: none;
    box-shadow: inset 0 -5px rgba(255,255,255,0.9);
    font-family: 'Share Tech Mono', monospace;
    font-size: 22px;
    cursor: pointer;
    color: white;
    width: 70%;
    max-width: 330px;
    transition: 0.2s ease;
}

.header_menu button:hover {
    background:rgba(0,0,0,0.5);
}

.calculator {
    max-width: 340px;
    width: 80vw;
    height: 420px;
    position: absolute;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    top: 200px;
    transform:translateY(100%);
    opacity: 0;
    visibility: hidden;
    transition:var(--default-transition-2);
}

.divider {
    width: 100%;
    height: 2px;
    background: white;
}

.calculator_show {
    transform:translateY(0%);
    opacity: 1;
    visibility: visible;
}


.calculator input {
    height: 100%;
    padding: 10px 34px;
    box-sizing: border-box;
    font-size: 18px;
    background: rgba(255,255,255,0.3);
    border: none;
    color: white;
    font-family: 'Share Tech Mono', monospace;
    width: 100%;
}

.calculator > p {
    color:white;
    text-align: center;
    font-size: 22px;
}

.calculator > button {
    border: none;
    height: 80px;
    background: rgba(255,255,255,0.4);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 340px;
    padding: 0;
    max-width: 340px;
    width: 80vw;
}

.calculator > button > div {
    max-width: 320px;
    width: 92%;
    background: white;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculator > button > div > img {
    width: 40px;
}



.input {
    height: 55px;
    width: 100%;
    position:relative;
}

.input div {
    width: 8px;
    background: rgba(255,255,255,0.5);
    height: 100%;
    position: absolute;
    transform: skewY(50deg) translateY(5px);
}

.input img {
    position: absolute;
    right: 0;
    bottom: 0;
    height: 50%;
}

.input p {
    color: rgba(255,255,255,0.7);
    position: absolute;
    left: 5%;
    bottom: 3%;
    font-size: 16px;
    text-align: center;
    width: auto;
    opacity: 0;
    transition: 0.5s ease;
}

.input:hover p {
    opacity: 1;
}

















::placeholder {
    color:rgba(255,255,255,0.9);
    font-family: 'Share Tech Mono', monospace;
}